<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [25]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [26]:
# your code goes here
df_duplicated = df.duplicated()
df_duplicated.sum()

154

In [27]:
df["Respondent"].duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [28]:
# your code goes here
df_without_duplicates  = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [29]:
# your code goes here
df_without_duplicates.duplicated().sum()

0

In [30]:
df_without_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11398 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11398 non-null  int64
 1   MainBranch              11398 non-null  object
 2   Hobbyist                11398 non-null  object
 3   OpenSourcer             11398 non-null  object
 4   OpenSource              11317 non-null  object
 5   Employment              11398 non-null  object
 6   Country                 11398 non-null  object
 7   Student                 11347 non-null  object
 8   EdLevel                 11286 non-null  object
 9   UndergradMajor          10661 non-null  object
 10  EduOther                11234 non-null  object
 11  OrgSize                 11302 non-null  object
 12  DevType                 11333 non-null  object
 13  YearsCode               11389 non-null  object
 14  Age1stCode              11385 non-null  object
 15  YearsCodePro            11382 non-null  object
 16  CareerSat               11398 non-null  object
 17  JobSat                  11397 non-null  object
 18  MgrIdiot                10905 non-null  object
 19  MgrMoney                10901 non-null  object
 20  MgrWant                 10905 non-null  object
 21  JobSeek                 11398 non-null  object
 22  LastHireDate            11398 non-null  object
 23  LastInt                 10985 non-null  object
 24  FizzBuzz                11361 non-null  object
 25  JobFactors              11395 non-null  object
 26  ResumeUpdate            11359 non-null  object
 27  CurrencySymbol          11398 non-null  object
 28  CurrencyDesc            11398 non-null  object
 29  CompTotal               10589 non-null  float64
 30  CompFreq                11192 non-null  object
 31  ConvertedComp           10582 non-null  float64
 32  WorkWeekHrs             11276 non-null  float64
 33  WorkPlan                11277 non-null  object
 34  WorkChallenge           11234 non-null  object
 35  WorkRemote              11390 non-null  object
 36  WorkLoc                 11366 non-null  object
 37  ImpSyn                  11393 non-null  object
 38  CodeRev                 11397 non-null  object
 39  CodeRevHrs              8972 non-null   float64
 40  UnitTests               11369 non-null  object
 41  PurchaseHow             11202 non-null  object
 42  PurchaseWhat            11360 non-null  object
 43  LanguageWorkedWith      11387 non-null  object
 44  LanguageDesireNextYear  11264 non-null  object
 45  DatabaseWorkedWith      10945 non-null  object
 46  DatabaseDesireNextYear  10356 non-null  object
 47  PlatformWorkedWith      10987 non-null  object
 48  PlatformDesireNextYear  10854 non-null  object
 49  WebFrameWorkedWith      10005 non-null  object
 50  WebFrameDesireNextYear  9781 non-null   object
 51  MiscTechWorkedWith      9216 non-null   object
 52  MiscTechDesireNextYear  9943 non-null   object
 53  DevEnviron              11369 non-null  object
 54  OpSys                   11364 non-null  object
 55  Containers              11316 non-null  object
 56  BlockchainOrg           9076 non-null   object
 57  BlockchainIs            8788 non-null   object
 58  BetterLife              11300 non-null  object
 59  ITperson                11363 non-null  object
 60  OffOn                   11360 non-null  object
 61  SocialMedia             11105 non-null  object
 62  Extraversion            11378 non-null  object
 63  ScreenName              10891 non-null  object
 64  SOVisit1st              11073 non-null  object
 65  SOVisitFreq             11393 non-null  object
 66  SOVisitTo               11397 non-null  object
 67  SOFindAnswer            11395 non-null  object
 68  SOTimeSaved             11348 non-null  object
 69  SOHowMuchTime           9481 non-null   object
 70  SOAccount               11397 non-null  object
 71  SOPartFreq              10270 non-null  object
 72  SOJobs                  11392 non-null  object
 73  EntTeams                11393 non-null  object
 74  SOComm                  11398 non-null  object
 75  WelcomeChange           11313 non-null  object
 76  SONewContent            9433 non-null   object
 77  Age                     11111 non-null  float64
 78  Gender                  11325 non-null  object
 79  Trans                   11275 non-null  object
 80  Sexuality               10856 non-null  object
 81  Ethnicity               10723 non-null  object
 82  Dependents              11258 non-null  object
 83  SurveyLength            11379 non-null  object
 84  SurveyEase              11384 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 4.0+ MB

In [31]:
df_without_duplicates["Respondent"].unique()

array([    4,     9,    13, ..., 25138, 25141, 25142], dtype=int64)

## Finding Missing values

Find the missing values for all columns.

In [32]:
# your code goes here
total_length = len(df_without_duplicates)

# Iterar sobre cada columna y contar valores no nulos
for columna in df_without_duplicates.columns:
    column_length_no_null = df_without_duplicates[columna].count()
    empty_values = total_length - column_length_no_null
    if empty_values > 0:
        print(f"Column '{columna}' has {empty_values} empty values.")

Column 'OpenSource' has 81 empty values.
Column 'Student' has 51 empty values.
Column 'EdLevel' has 112 empty values.
Column 'UndergradMajor' has 737 empty values.
Column 'EduOther' has 164 empty values.
Column 'OrgSize' has 96 empty values.
Column 'DevType' has 65 empty values.
Column 'YearsCode' has 9 empty values.
Column 'Age1stCode' has 13 empty values.
Column 'YearsCodePro' has 16 empty values.
Column 'JobSat' has 1 empty values.
Column 'MgrIdiot' has 493 empty values.
Column 'MgrMoney' has 497 empty values.
Column 'MgrWant' has 493 empty values.
Column 'LastInt' has 413 empty values.
Column 'FizzBuzz' has 37 empty values.
Column 'JobFactors' has 3 empty values.
Column 'ResumeUpdate' has 39 empty values.
Column 'CompTotal' has 809 empty values.
Column 'CompFreq' has 206 empty values.
Column 'ConvertedComp' has 816 empty values.
Column 'WorkWeekHrs' has 122 empty values.
Column 'WorkPlan' has 121 empty values.
Column 'WorkChallenge' has 164 empty values.
Column 'WorkRemote' has 8 empty values.
Column 'WorkLoc' has 32 empty values.
Column 'ImpSyn' has 5 empty values.
Column 'CodeRev' has 1 empty values.
Column 'CodeRevHrs' has 2426 empty values.
Column 'UnitTests' has 29 empty values.
Column 'PurchaseHow' has 196 empty values.
Column 'PurchaseWhat' has 38 empty values.
Column 'LanguageWorkedWith' has 11 empty values.
Column 'LanguageDesireNextYear' has 134 empty values.
Column 'DatabaseWorkedWith' has 453 empty values.
Column 'DatabaseDesireNextYear' has 1042 empty values.
Column 'PlatformWorkedWith' has 411 empty values.
Column 'PlatformDesireNextYear' has 544 empty values.
Column 'WebFrameWorkedWith' has 1393 empty values.
Column 'WebFrameDesireNextYear' has 1617 empty values.
Column 'MiscTechWorkedWith' has 2182 empty values.
Column 'MiscTechDesireNextYear' has 1455 empty values.
Column 'DevEnviron' has 29 empty values.
Column 'OpSys' has 34 empty values.
Column 'Containers' has 82 empty values.
Column 'BlockchainOrg' has 2322 empty values.
Column 'BlockchainIs' has 2610 empty values.
Column 'BetterLife' has 98 empty values.
Column 'ITperson' has 35 empty values.
Column 'OffOn' has 38 empty values.
Column 'SocialMedia' has 293 empty values.
Column 'Extraversion' has 20 empty values.
Column 'ScreenName' has 507 empty values.
Column 'SOVisit1st' has 325 empty values.
Column 'SOVisitFreq' has 5 empty values.
Column 'SOVisitTo' has 1 empty values.
Column 'SOFindAnswer' has 3 empty values.
Column 'SOTimeSaved' has 50 empty values.
Column 'SOHowMuchTime' has 1917 empty values.
Column 'SOAccount' has 1 empty values.
Column 'SOPartFreq' has 1128 empty values.
Column 'SOJobs' has 6 empty values.
Column 'EntTeams' has 5 empty values.
Column 'WelcomeChange' has 85 empty values.
Column 'SONewContent' has 1965 empty values.
Column 'Age' has 287 empty values.
Column 'Gender' has 73 empty values.
Column 'Trans' has 123 empty values.
Column 'Sexuality' has 542 empty values.
Column 'Ethnicity' has 675 empty values.
Column 'Dependents' has 140 empty values.
Column 'SurveyLength' has 19 empty values.
Column 'SurveyEase' has 14 empty values.

Find out how many rows are missing in the column 'WorkLoc'

In [33]:
# your code goes here
len(df_without_duplicates)-df_without_duplicates["WorkLoc"].count()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [34]:
# your code goes here
df_without_duplicates["WorkLoc"].count()

11366

Identify the value that is most frequent (majority) in the WorkLoc column.

In [36]:
#make a note of the majority value here, for future reference
# Office
df_without_duplicates["Employment"].mode()

0    Employed full-time
Name: Employment, dtype: object

In [37]:
df_without_duplicates["WorkLoc"].mode()

0    Office
Name: WorkLoc, dtype: object

In [40]:
df_without_duplicates["UndergradMajor"].value_counts().idxmin()

'A health science (ex. nursing, pharmacy, radiology)'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [41]:
# your code goes here
df_without_duplicates['WorkLoc'] = df_without_duplicates['WorkLoc'].fillna('Office')

<ipython-input-41-a4ebedbcfe74>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_without_duplicates['WorkLoc'] = df_without_duplicates['WorkLoc'].fillna('Office')

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [42]:
# your code goes here
len(df_without_duplicates)-df_without_duplicates["WorkLoc"].count()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [43]:
# your code goes here
df_without_duplicates["CompFreq"].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [46]:
# your code goes here
df_without_duplicates['NormalizedAnnualCompensation'] = df_without_duplicates['CompTotal']
df_without_duplicates.loc[df_without_duplicates['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] *= 12
df_without_duplicates.loc[df_without_duplicates['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] *= 52

<ipython-input-46-27735a2701f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_without_duplicates['NormalizedAnnualCompensation'] = df_without_duplicates['CompTotal']

In [48]:
df_without_duplicates["CompFreq"].loc[df_without_duplicates['CompFreq'] == 'Yearly'].count()

6073

In [49]:
df_without_duplicates["NormalizedAnnualCompensation"].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> Â© IBM Corporation. All rights reserved. <h3/>